POSTGRES_URL=postgresql://postgres:password@localhost:5432/companyfinder
STRIPE_SECRET_KEY=sk_test_***
STRIPE_WEBHOOK_SECRET=whsec_***
BASE_URL=http://localhost:3000
AUTH_SECRET=oooooooooooh

GOOGLE_CLIENT_ID=485361061907-xxxxxxxxxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxxxxxxxxxxxxxxxxxx
COMPANY_HOUSE_KEY=xxxxxxxxx-xxxxx-xxxxx-xxxx-xxxxxxxxx
GEMINI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxx